*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
.stack-root/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/.git/
