site_name: The Haskell Tool Stack
site_description: The Haskell Tool Stack
site_author: Stack contributors
repo_url: https://github.com/commercialhaskell/stack/
edit_uri: tree/stable/doc/
copyright: Copyright (c) 2015-2022, Stack contributors
docs_dir: doc
site_dir: _site
theme:
  name: material
  palette:
    primary: 'deep purple'
    accent: 'deep purple'
  icon:
    logo: material/language-haskell
extra_css:
- css/extra.css
extra_javascript:
- js/searchhack.js
# Read the Docs requires JQuery for its JavaScript code to inject the flyout
# menu. Material for MkDocs does not come with JQuery.
- 'https://code.jquery.com/jquery-3.6.1.min.js'

nav:
- Home: README.md
- Tool documentation:
  - Install/upgrade: install_and_upgrade.md
  - User's guide (introductory): GUIDE.md
  - User's guide (advanced): GUIDE_advanced.md
  - FAQ: faq.md
  - Configuration (project and global): yaml_configuration.md
  - Snapshot and package location: pantry.md
  - Snapshot specification: custom_snapshot.md
  - stack.yaml vs a Cabal file: stack_yaml_vs_cabal_package_file.md
  - Build command: build_command.md
  - Code coverage: coverage.md
  - REPL environment: ghci.md
  - Dependency visualization: dependency_visualization.md
  - Docker integration: docker_integration.md
  - Nix integration: nix_integration.md
  - Non-standard project initialization: nonstandard_project_init.md
  - Stack and Visual Studio Code: Stack_and_VS_Code.md
  - Developing on Windows: developing_on_windows.md
  - Shell auto-completion: shell_autocompletion.md
  - Travis CI: travis_ci.md
  - Azure CI: azure_ci.md
  - Lock files: lock_files.md
- Advanced documentation:
  - Build overview: build_overview.md
- Project documentation:
  - Contributors:
    - Contributor's guide: CONTRIBUTING.md
  - Maintainers:
    - Releases: maintainers/releases.md
    - Maintainer team process: maintainers/team_process.md
    - Add GHC version: maintainers/ghc.md
    - Docker images: maintainers/docker.md
    - Upgrading MSYS2: maintainers/msys.md
    - Upgrading 7-Zip: maintainers/7zip.md
    - HaskellStack.org: maintainers/haskellstack.org.md
- Signing key: SIGNING_KEY.md
- Glossary: glossary.md
- Version history: ChangeLog.md

markdown_extensions:
- admonition
- attr_list
- pymdownx.details
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- toc:
    permalink: true
