*

!/assets/
!/assets/cradles/
!/assets/cradles/cabal/
!/assets/cradles/stack/
!/conf/
!/conf/shell/
!/conf/shell/var/
!/conf/shell/var/tmp/
!/conf/shell/var/tmp/snippets/
!/conf/stack/
!/conf/stack/etc/
!/conf/stack/etc/stack/
!/ghc-*/
!/scripts/
!/scripts/usr/
!/scripts/usr/local/
!/scripts/usr/local/bin/

!/assets/cradles/cabal/hie.yaml
!/assets/cradles/stack/hie.yaml
!/conf/shell/var/tmp/snippets/*.sh
!/conf/stack/etc/stack/config.yaml
!/ghc-*/devcontainer.json
!/scripts/usr/local/bin/*.sh

!/devcontainer.json
!/GHC.Dockerfile
!/init
!/init.cmd
!/LICENSE
!/README.md

!.gitignore
